<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Отель - Номера</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>ᵔᴗᵔ Список номеров отеля ᵔᴗᵔ</h1>
<a href="/create" class = "btn">✎ Добавить номер</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Номер</th>
            <th>Тип</th>
            <th>Цена за ночь</th>
            <th>Вместимость</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for room in rooms %}
        <tr>
            <td>{{ room.id }}</td>
            <td>{{ room.room_number }}</td>
            <td>
                {% if room.type == 'single' %}Одноместный
                {% elif room.type == 'double' %}Двухместный
                {% else %}Люкс{% endif %}
            </td>
            <td>{{ room.price_per_night }} ₽</td>
            <td>{{ room.capacity }}</td>
            <td class="{ if room.is_available %}available{% else %}not-available{% endif %}">
                {% if room.is_available %}✔ Свободен{% else %}✘ Занят{% endif %}
            </td>
            <td>
                <a href="/edit/{{ room_id }}>">✎ Редактировать</a>
                <a href="/delete/{{ room_id }}" onclick="return confirm('Удалить номер?')">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

     {% if not rooms %}
        <p>Нет добавленных номеров. Нажмите "Добавить номер" чтобы создать первый.</p>
    {% endif %}

</body>
</html>